
<{% extends "index.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
</head>
<body style="">
  
    {% block body %}
    <br/>   <br/>  <br/>  <br/>  <br/>
    <h1 style="text-align: center;">About Me</h1>
    <p>Welcome to my About Me page! I'm passionate about technology and enjoy coding, designing, and exploring new things. Feel free to reach out if you have any questions or just want to say hello!</p>
    {% endblock body %}
    
   
</body>
</html>
